{% assign spacing_top_enable = block.settings.spacing_top_enable | default: false %}

{% assign spacing_bottom_enable = block.settings.spacing_bottom_enable | default: false %}

<section
  class="
    homepage-section
    {% if spacing_top_enable %}homepage-section--spacing-top{% endif %}
    {% if spacing_bottom_enable %}homepage-section--spacing-bottom{% endif %}
  ">
  {% include 'value-propositions' %}
</section>
