<article class="border-bottom-beige-active">
  <div class="padding-top-bottom--down-1">
    <div class="flex-bar--up-1">
      <div class="flex-item">
        <h3 class="
          font-size--down-2 line-height--up-4
          large--font-size--inherit large--line-height--inherit
          font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
          margin-bottom--none
        ">
          <a href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h3>
      </div>

      <div class="flex-item-shrink">
        <a
          class="
            font-size--down-2 line-height--up-4
            large--font-size--inherit large--line-height--inherit
            font-weight-500 text-caps-letter-spacing text-underline text-color-green
          "
          href="{{ article.url }}">
          {{ 'careers.career.read_more' | t }}
        </a>
      </div>
    </div>
  </div>
</article>
