{% assign array_url = '' | split: '' %}

{% assign array_title = '' | split: '' %}

{% assign array_item_url = routes.root_url | sort %}

{% assign array_item_title = 'breadcrumbs.home' | t | sort %}

{% assign array_url = array_url | concat: array_item_url %}

{% assign array_title = array_title | concat: array_item_title %}

{% if
  template.name == 'page' or
  template.name == 'collection' or
  template.name == 'product' or
  template.name == 'blog' or
  template.name == 'article' or
  template.name == 'search' or
  template.name == '404'
%}
  {% if template.name == 'collection' or template.name == 'product' %}
    {% if collection.template_suffix != 'menu' %}
      {% assign menu = collection.metafields.menu.menu %}
      {% assign menu = menus[menu] | default: false %}

      {% for link in menu.links %}
        {% for link_link in link.links %}
          {% if link_link.active %}
            {% assign array_item_url = link.url | sort %}

            {% assign array_item_title = link.title | sort %}

            {% assign array_url = array_url | concat: array_item_url %}

            {% assign array_title = array_title | concat: array_item_title %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if template.name == 'product' and collection %}
    {% assign array_item_url = collection.url | sort %}

    {% assign array_item_title = collection.title | sort %}

    {% assign array_url = array_url | concat: array_item_url %}

    {% assign array_title = array_title | concat: array_item_title %}
  {% endif %}

  {% assign array_item_url = request.path | sort %}

  {% assign array_item_title = page_title | sort %}

  {% assign array_url = array_url | concat: array_item_url %}

  {% assign array_title = array_title | concat: array_item_title %}
{% endif %}

<nav class="hide large--show">
  <ul class="grid-bar--down-2 margin-bottom--up-1">
    {% for array_item_url in array_url %}
      {% assign array_item_title = array_title[forloop.index0] %}

      {% unless forloop.first %}
        <li class="grid-item">
          <div class="font-size--down-12">
            {% include 'svg-arrow-right' %}
          </div>
        </li>
      {% endunless %}

      <li class="grid-item">
        <a href="{{ array_item_url }}">
          <div class="
            font-size--down-2 line-height--up-4
            {% if forloop.last %}text-color-grey-dark text-underline{% endif %}
          ">
            {{ array_item_title }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
