{% assign breadcrumbs_array_url = '' | split: '' %}

{% assign breadcrumbs_array_title = '' | split: '' %}

{% assign breadcrumbs_array_item_url = routes.root_url | sort %}

{% assign breadcrumbs_array_item_title = 'breadcrumbs.home' | t | sort %}

{% assign breadcrumbs_array_url = breadcrumbs_array_url | concat: breadcrumbs_array_item_url %}

{% assign breadcrumbs_array_title = breadcrumbs_array_title | concat: breadcrumbs_array_item_title %}

{% if
  template.name == 'page' or
  template.name == 'collection' or
  template.name == 'product' or
  template.name == 'blog' or
  template.name == 'article' or
  template.name == 'search' or
  template.name == '404'
%}
  {% if template.name == 'collection' or template.name == 'product' %}
    {% for link in linklists['collections'].links %}
      {% assign break = false %}

      {% for link_link in link.links %}
        {% if link_link.active %}
          {% assign breadcrumbs_array_item_url = link.url | sort %}

          {% assign breadcrumbs_array_item_title = link.title | sort %}

          {% assign breadcrumbs_array_url = breadcrumbs_array_url | concat: breadcrumbs_array_item_url %}

          {% assign breadcrumbs_array_title = breadcrumbs_array_title | concat: breadcrumbs_array_item_title %}

          {% assign break = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if break %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if template.name == 'article' %}
    {% assign breadcrumbs_array_item_url = blog.url | sort %}

    {% assign breadcrumbs_array_item_title = blog.title | sort %}

    {% assign breadcrumbs_array_url = breadcrumbs_array_url | concat: breadcrumbs_array_item_url %}

    {% assign breadcrumbs_array_title = breadcrumbs_array_title | concat: breadcrumbs_array_item_title %}
  {% endif %}

  {% if template.name == 'product' and collection %}
    {% assign breadcrumbs_array_item_url = collection.url | sort %}

    {% assign breadcrumbs_array_item_title = collection.title | sort %}

    {% assign breadcrumbs_array_url = breadcrumbs_array_url | concat: breadcrumbs_array_item_url %}

    {% assign breadcrumbs_array_title = breadcrumbs_array_title | concat: breadcrumbs_array_item_title %}
  {% endif %}

  {% assign breadcrumbs_array_item_url = request.path | sort %}

  {% assign breadcrumbs_array_item_title = page_title | sort %}

  {% assign breadcrumbs_array_url = breadcrumbs_array_url | concat: breadcrumbs_array_item_url %}

  {% assign breadcrumbs_array_title = breadcrumbs_array_title | concat: breadcrumbs_array_item_title %}
{% endif %}

<nav class="hide large--show">
  <ul class="grid-bar--down-2 margin-bottom--up-1">
    {% for breadcrumbs_array_item_url in breadcrumbs_array_url %}
      {% assign breadcrumbs_array_item_title = breadcrumbs_array_title[forloop.index0] %}

      {% unless forloop.first %}
        <li class="grid-item">
          <div class="font-size--down-12">
            {% include 'svg-arrow-right' %}
          </div>
        </li>
      {% endunless %}

      <li class="grid-item">
        <a href="{{ breadcrumbs_array_item_url }}">
          <div class="
            font-size--down-2 line-height--up-4
            {% if forloop.last %}text-color-grey-dark text-underline{% endif %}
          ">
            {{ breadcrumbs_array_item_title }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
