<div class="hide large--show">
  <div class="border-bottom-grey-lightest">
    <div class="padding-bottom--down-1">
      <div class="grid--up-1">
        <div class="grid-item one-ten">
          <div class="
            font-size--inherit line-height--inherit
            font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
            margin-bottom--none
          ">
            {{ 'cart.item' | t }}
          </div>
        </div>

        <div class="grid-item nine-ten">
          <div class="grid--up-1">
            <div class="grid-item large--two-four xlarge--four-six"></div>

            <div class="grid-item large--one-four xlarge--one-six">
              <div class="
                font-size--inherit line-height--inherit
                font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
                margin-bottom--none
              ">
                {{ 'cart.quantity' | t }}
              </div>
            </div>

            <div class="grid-item large--one-four xlarge--one-six text-right">
              <div class="
                font-size--inherit line-height--inherit
                font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
                margin-bottom--none
              ">
                {{ 'cart.price' | t }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
