{% assign mini_cart = _mini_cart %}

<div class="container-padding medium--padding-left-right--up-2 padding-top-bottom--up-1">
  <div class="rte font-size--down-2 line-height--up-4 {% unless mini_cart %}text-center{% endunless %}">
    {{ 'cart.empty' | t }}
  </div>
</div>
