{% assign mini_cart = _mini_cart %}

<form class="{% if mini_cart %}height-full flex-vertical{% endif %}" action="/cart" method="post">
  {% include 'cart-items' %}
  {% include 'cart-summary' %}
</form>
