{% for property_name in line_item_properties_names %}
  {% assign property_value = line_item_properties_values[forloop.index0] %}

  <div class="font-size--none">
    <div class="grid--down-3">
      <div class="grid-item">
        <div class="font-size--down-2 line-height--up-4">
          {{ property_name }}:
        </div>
      </div>

      <div class="grid-item">
        <div class="font-size--down-2 line-height--up-4">
          {% if property_value contains '/uploads/' %}
            <a href="{{ property_value }}">
              {{ property_value | split: '/' | last }}
            </a>
          {% else %}
            {{ property_value }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
