<h2 class="font-size--down-2 line-height--up-4 large--font-size--up-2 large--line-height--up-8 font-weight-300 margin-bottom--down-1">
  <a href="{{ line_item.url }}" title="{{ line_item.product.title | escape }}">
    {{ line_item.product.title }}
  </a>
</h2>
