{% for option_name in line_item.product.options %}
  {% assign option_value = line_item.variant.options[forloop.index0] %}

  <div class="font-size--none">
    <div class="grid--down-3">
      <div class="grid-item">
        <div class="font-size--down-2 line-height--up-4">
          {{ option_name }}:
        </div>
      </div>

      <div class="grid-item">
        <div class="font-size--down-2 line-height--up-4">
          {{ option_value }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
