{% assign line = _line %}

{% include 'attribute-line-item-properties' %}

<article class="border-bottom-grey-lightest">
  <div class="padding-top-bottom--up-1">
    <div class="position-relative">
      <div class="flex--up-1">
        <div class="flex-item">
          <div class="grid--up-1">
            <div class="grid-item one-three large--five-sixteen">
              {% include 'cart-item-image' %}
            </div>

            <div class="grid-item two-three large--eleven-sixteen">
              <div class="last-child-margin--none">
                {% include 'cart-item-title' %}

                {% unless line_item.product.has_only_default_variant %}
                  <div class="margin-bottom--down-1">
                    {% include 'cart-item-options' %}
                  </div>
                {% endunless %}

                {% if line_item_properties %}
                  <div class="margin-bottom--down-1">
                    {% include 'cart-item-properties' %}
                  </div>
                {% endif %}

                <div class="margin-bottom--down-1">
                  {% include 'cart-item-quantity' %}
                </div>

                <div class="margin-bottom--down-1">
                  {% include 'cart-item-price' %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-item-auto">
          {% include 'cart-item-remove' %}
        </div>
      </div>
    </div>
  </div>
</article>
