<a href="{% if line_item.variant.metafields.secomapp.freegifts %}{{ line_item.product.url }}{% else %}{{ line_item.url }}{% endif %}" title="{{ line_item.product.title | escape }}">
  {%
    include 'image',
    _object: line_item.image,
    _size: '300x300',
    _crop: 'center',
    _box_ratio: '100%',
    _lazy: mini_cart,
    _class: 'is-no-animation'
  %}
</a>
