<div class="text-color-grey-dark font-weight-500">
  {% if line_item.final_price != line_item.original_price %}
    <s>
      {{ line_item.original_price | money }}
    </s>
  {% endif %}

  {{ line_item.final_price | money }}
</div>
