<h2 class="
  font-size--down-2 line-height--up-4

  {% unless mini_cart %}
    large--font-size--inherit large--line-height--inherit
  {% endunless %}

  font-stack-inherit font-weight-500 text-caps-letter-spacing text-color-grey-dark
  margin-bottom--none
">
  <a href="{{ line_item.url }}" title="{{ line_item.product.title | escape }}">
    {{ line_item.product.title }}
  </a>
</h2>
