<a href="{{ line_item.url }}" title="{{ line_item.product.title | escape }}">
  {%
    include 'image',
    _object: line_item.image,
    _size: '300x300',
    _crop: 'center',
    _box_ratio: '100%',
    _lazy: mini_cart
  %}
</a>
