{% assign line = _line %}

{% include 'attribute-line-item-properties' %}

<article class="border-bottom-grey-lightest">
  <div class="
    padding-top-bottom--up-1

    {% unless mini_cart %}
      large--padding-top-bottom--up-2
    {% endunless %}
  ">
    <div class="position-relative">
      <div class="flex--up-1">
        <div class="flex-item">
          <div class="grid--up-1">
            <div class="
              grid-item one-three

              {% if mini_cart %}
                large--five-sixteen
              {% else %}
                large--one-ten
              {% endif %}
            ">
              {% include 'cart-item-image' %}
            </div>

            <div class="
              grid-item two-three

              {% if mini_cart %}
                large--eleven-sixteen
              {% else %}
                large--nine-ten
              {% endif %}
            ">
              <div class="grid--up-1 margin-bottom-negative--down-1">
                <div class="
                  grid-item padding-bottom--down-1 one
                  {% unless mini_cart %}large--two-four xlarge--four-six{% endunless %}
                ">
                  {% include 'cart-item-title' %}

                  {% unless line_item.product.has_only_default_variant %}
                    <div class="margin-top--down-4">
                      {% include 'cart-item-options' %}
                    </div>
                  {% endunless %}

                  {% if line_item_properties %}
                    <div class="margin-top--down-4">
                      {% include 'cart-item-properties' %}
                    </div>
                  {% endif %}
                </div>

                <div class="
                  grid-item one padding-bottom--down-1
                  {% unless mini_cart %}large--one-four xlarge--one-six{% endunless %}
                ">
                  {% include 'cart-item-quantity' %}

                  <div class="hide large--show">
                    {% include 'cart-item-remove' %}
                  </div>
                </div>

                <div class="
                  grid-item one padding-bottom--down-1
                  {% unless mini_cart %}large--one-four xlarge--one-six large--text-right{% endunless %}
                ">
                  {% include 'cart-item-price' %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-item-auto large--hide">
          {% include 'cart-item-remove' %}
        </div>
      </div>
    </div>
  </div>
</article>
