<a href="{{ line_item.url }}" title="{{ line_item.product.title | escape }}">
  <div class="image-container box-ratio--1-1">
    <img data-src="{{ image_url }}" alt="{{ image_alt }}" />
  </div>
</a>
