<div class="{% if mini_cart %}margin-top--auto{% endif %}">
  <div class="{% if mini_cart %}box-color-beige{% endif %}">
    <div class="padding-top-bottom--up-2 container-padding medium--padding-left-right--up-2">
      <div class="margin-bottom--up-1">
        <div class="flex-bar--up-1">
          <div class="flex-item">
            <h2 class="font-size--up-2 line-height--up-8 font-stack-inherit margin--none margin--none">
              {{ 'cart.total' | t }}
            </h2>
          </div>

          <div class="flex-item-shrink">
            <div class="font-size--up-4 line-height--up-10 font-weight-500 text-color-grey-dark">
              {{ cart.total_price | money }}
            </div>
          </div>
        </div>
      </div>

      <button class="button-primary block one" type="submit" name="checkout">
        {{ 'cart.checkout' | t }}
      </button>
    </div>
  </div>
</div>
