<div class="flex-bar--down-2">
  <div class="flex-item-shrink hide large--show">
    <div class="text-color-grey-dark">
      {{ 'collection.sort.title' | t }}
    </div>
  </div>

  <div class="flex-item">
    <div class="select-wrap border-radius--none">
      <select class="select border-radius--none" data-module-input-change-link>
        {% for option in collection.sort_options %}
          <option
            value="{{ collection.url }}?sort_by={{ option.value }}"
            {% if option.value == collection.sort_by %}selected{% endif %}>
            {{ option.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
