<div class="large--hide">
  <button
    class="input input-border one border-radius--none"
    type="button"
    data-ref-button='{
      "index": "menu",
      "active": ["large"]
    }'>
    <div class="flex-bar--down-1">
      <div class="flex-item">
        {{ 'collection.menu.title' | t }}
      </div>

      <div class="flex-item-shrink">
        <div class="font-size--down-6">
          <div data-ref-icon-show='{ "index": "menu" }'>
            {% include 'svg-arrow-bottom' %}
          </div>

          <div style="display: none;" data-ref-icon-hide='{ "index": "menu" }'>
            {% include 'svg-arrow-top' %}
          </div>
        </div>
      </div>
    </div>
  </button>
</div>
