{% assign title = _title %}

<h2 class="font-size--up-4 medium--font-size--up-5 large--font-size--up-8 large--line-height--up-10 font-weight-700 text-caps text-center text-color-navy margin-bottom--0 large--margin-bottom--up-2 position-relative">
  <span class="border-top-grey-lightest position-absolute position-center one"></span>

  <span class="position-relative inline-block align-top padding-left-right--0 box-color-base-background">
    {{ title }}
  </span>
</h2>
