{% assign year = 'now' | date: '%Y' %}

{% assign small_copy_body = small_copy_body | replace: '{{ year }}', year %}

<div class="padding-top--up-2 large--padding-top--up-4">
  <div class="border-top-body-text">
    <div class="padding-top--up-2 large--padding-top--up-4">
      <div class="rte">
        {{ small_copy_body }}
      </div>
    </div>
  </div>
</div>
