<div class="position-absolute position-center-vertical position-left">
  <div class="hide medium--show">
    {% if menu_secondary %}
      {% include 'header-menu-secondary' %}
    {% endif %}
  </div>

  <div class="medium--hide">
    <div class="grid-bar--up-2">
      <div class="grid-item">
        <button
          class="input-reset block"
          type="button"
          data-module-offcanvas-trigger='{
            "id": "header-mobile-menu",
            "scroll_to": 0
          }'>
          <div data-ref-icon='{ "type": "show" }'>
            <div class="font-size--up-3">
              {% include 'svg-menu' %}
            </div>
          </div>

          <div style="display: none;" data-ref-icon='{ "type": "hide" }'>
            <div class="font-size--up-3" style="width: 1em;">
              <div class="font-size--down-1">
                {% include 'svg-close' %}
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="grid-item">
        <a
          class="block"
          href="{{ routes.search_url }}"
          data-module-offcanvas-trigger='{
            "id": "header-mobile-search",
            "scroll_to": 0
          }'>
          <div data-ref-icon='{ "type": "show" }'>
            <div class="font-size--up-3">
              {% include 'svg-search' %}
            </div>
          </div>

          <div style="display: none;" data-ref-icon='{ "type": "hide" }'>
            <div class="font-size--down-1">
              {% include 'svg-close' %}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
