<div>
  <a href="{{ routes.cart_url }}">
    <div class="position-relative">
      <div class="font-size--up-6">
        {% include 'svg-cart' %}
      </div>

      <div class="position-absolute position-top-negative--down-4 position-right-negative--down-4">
        <div class="flex-bar flex-center" style="min-width: .85em; height: .85em; border-radius: 100%;">
          <div class="flex-item-shrink">
            <div class="font-size--down-4 line-height--none" data-module-cart-count>
              {{ cart.item_count }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
