<div class="header-logo">
  <a href="{{ routes.root_url }}">
    <div class="box-ratio-inline" style="padding-bottom: {{ logo_image_box_ratio }};">
      <img src="{{ logo_image_url }}" alt="{{ shop.name | escape }}" />
    </div>
  </a>
</div>
