<ul class="flex margin-bottom--none" style="margin-left: -1px;">
  {% for link in menu_tertiary.links %}
    <li class="flex-item" style="padding-left: 1px;">
      <a class="button-primary one" href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
</ul>
