<nav>
  <ul class="grid--0 xlarge--grid--up-4 margin-bottom--none">
    {% for link in menu_secondary.links %}
      <li class="grid-item one medium--auto">
        <a
          class="
            block
            padding-top-bottom--down-3 medium--padding--none
            font-size--down-2 line-height--up-4
            medium--font-size--down-4 medium--line-height--0
            xlarge--font-size--down-2 xlarge--line-height--up-4
            text-caps-letter-spacing text-color-grey-dark hover-text-underline
          "
          href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
