<nav class="header-menu hide medium--show">
  <div class="position-relative">
    <div class="border-top-bottom-grey-lightest">
      <div style="margin-top: -1px; margin-bottom: -1px;">
        <ul class="grid text-center margin-bottom--none">
          {% for link in menu.links %}
            <li
              class="
                grid-item
                header-menu__item
                transition

                {% if menu_highlight_item_handle == link.handle %}
                  box-color-green
                  text-color-light
                {% else %}
                  text-color-grey-dark

                  {% if link.active or link.child_active %}
                    box-color-beige
                  {% endif %}
                {% endif %}

                hover-box-color-beige
                hover-text-color-dark
              "
              data-module-image-lazy-trigger='{ "event": "mouseover" }'>
              <a
                class="
                  block
                  font-size--down-5 line-height--up-5
                  xlarge--font-size--down-1 xlarge--line-height--up-8
                  font-weight-500
                  text-caps-letter-spacing
                  padding-top-bottom--down-1 padding-left-right--down-1
                  xlarge--padding-top-bottom--down-1 xlarge--padding-left-right--up-2
                "
                href="{{ link.url }}">
                {{ link.title }}
              </a>

              {% if link.links != empty %}
                {% include 'header-megamenu' %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
