<div class="flex-bar height-full">
  <div class="flex-item-shrink">
    <div class="padding-top-bottom--up-1">
      <div class="inline-block align-top">
        <button
          class="input-reset block"
          type="button"
          data-module-offcanvas-trigger='{
            "id": "header-mobile-menu",
            "scroll_to": 0
          }'>
          <div class="font-size--up-6">
            {% include 'svg-menu' %}
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
