<div class="padding-top--up-3">
  <ul class="margin-bottom--none last-child-margin--none">
    {% for link in menu_secondary_mobile.links %}
      <li class="margin-bottom--down-3">
        <a href="{{ link.url }}">
          <div class="font-size--down-2 line-height--up-4">
            {{ link.title }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
