<nav class="hide medium--show">
  <div class="border-top-bottom-grey-lightest">
    <div style="margin-top: -1px; margin-bottom: -1px;">
      <ul class="grid text-center margin-bottom--none">
        {% for link in menu.links %}
          <li class="grid-item">
            <a class="block font-size--down-5 line-height--up-5 xlarge--font-size--down-1 xlarge--line-height--up-8 font-weight-500 text-caps-letter-spacing text-color-grey-dark hover-box-color-green hover-text-color-light padding-top-bottom--down-1 padding-left-right--down-1 xlarge--padding-top-bottom--down-1 xlarge--padding-left-right--up-2" href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
