<div class="position-absolute position-center-vertical position-right">
  <div class="grid-bar--up-2">
    <div class="grid-item hide! medium--show-inline-block!">
      <div class="search-form-element-width">
        {% include 'search-form', _id: 'header-search-form' %}
      </div>
    </div>

    {% if shop.customer_accounts_enabled %}
      <div class="grid-item">
        <a href="{{ routes.account_url }}">
          <div class="font-size--up-6">
            {% include 'svg-user' %}
          </div>
        </a>
      </div>
    {% endif %}

    <div class="grid-item">
      <a
        class="block"
        href="{{ routes.cart_url }}"
        {% if template.name != 'cart' %}
          data-module-offcanvas-trigger='{ "id": "header-mini-cart" }'
        {% endif %}>
        <div class="font-size--up-6">
          {% include 'svg-cart' %}
        </div>
      </a>
    </div>
  </div>
</div>
