{% assign empty_body = mini_cart_empty_body %}

<div class="mini-cart" data-module-mini-cart='{ "reveal_timeout": 5000 }'>
  <div>
    <div class="padding--down-1">
      <h1 class="text-center margin-bottom--0">
        {{ 'cart.title' | t }}
      </h1>

      {% if cart.items != empty %}
        {% include 'cart-form', _mini_cart: true %}
      {% else %}
        {% include 'cart-empty' %}
      {% endif %}
    </div>
  </div>
</div>
