<div class="medium--hide">
  <div class="header-off-canvas-mobile-search position-fixed position-top position-right position-bottom position-left position-6">
    <div class="height-full box-color-light border-top-grey-lightest scroll-vertical">
      <div class="container-padding padding-top-bottom--down-1">
        {% include 'search-form', _id: 'mobile-search-form' %}
      </div>
    </div>
  </div>
</div>
