<div class="margin-bottom--up-1">
  <div class="font-size--0 line-height--up-6 font-weight-700 text-caps">
    {{ 'social.title' | t }}
  </div>
</div>

{% include 'social-links', _is_header: true %}
