<div class="medium--hide">
  <div
    class="header-off-canvas-mobile-menu position-fixed position-top position-right position-bottom position-left position-6"
    style="top: calc(var(--utility-bar-height) + var(--header-height));">
    <div class="height-full box-color-placeholder">
      <div class="height-full container-padding padding-top--up-1">
        ...
      </div>
    </div>
  </div>
</div>
