{% form 'storefront_password' %}
  {{ form.errors | default_errors }}

  <div class="margin-bottom--down-1">
    <label class="invisible" for="Password">
      {{ 'password.label' | t }}
    </label>

    <input
      class="input"
      type="password"
      name="password"
      id="Password"
      placeholder="{{ 'password.placeholder' | t }}"
      required />
  </div>

  <button class="button-primary block one" type="submit" name="commit">
    {{ password_form_call_to_action }}
  </button>
{% endform %}
