{% assign class = _class %}

{% assign newline = '
' %}

{% capture payment_icons %}
visa
mastercard
amex
maestro
shop-pay
apple-pay
google-pay
{% endcapture %}

{% assign payment_icons = payment_icons | strip | split: newline %}

<div class="overflow-hidden">
  <div class="grid--down-3 padding-top--down-1">
    {% for payment_icon in payment_icons %}
      <div class="grid-item margin-top-negative--down-1">
        <div class="{{ class }}">
          {% assign snippet = 'svg-payment-' | append: payment_icon %}
          {% include snippet %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
