{% assign newline = '
' %}

{% capture payment_icons %}
mastercard
maestro
visa
amex
apple-pay
paypal
shop-pay
google-pay
{% endcapture %}

{% assign payment_icons = payment_icons | strip | split: newline %}

<div class="flex--down-3 flex-wrap">
  {% for payment_icon in payment_icons %}
    <div class="flex-item-auto">
      {% assign snippet = 'svg-payment-' | append: payment_icon %}
      {% include snippet %}
    </div>
  {% endfor %}
</div>
