{% assign initial_slide = 0 %}

{% for image in product.images %}
  {% assign image_variant_ids = image.variants | map: 'id' %}

  {% if image_variant_ids contains current_variant.id %}
    {% assign initial_slide = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="slider" data-module-slider='{
  "swiper": {
    "initialSlide": {{ initial_slide | json }}

    {% if product.images.size > 1 %}
      ,
      "thumbs": {
        "swiper": {
          "el": ".swiper-container-thumbs",
          "slidesPerView": 6,
          "spaceBetween": "var(--spacing--down-2)"
        }
      }
    {% endif %}
  },

  "slide_product_variants": {{ product.images | map: 'variants' | json }}
}'>
  <div class="swiper-container" data-ref-container>
    <div class="swiper-wrapper">
      {% for image in product.images %}
        <div class="swiper-slide">
          {%
            include 'image',
            _object: image,
            _size: '1000x',
            _lazy: true
          %}
        </div>
      {% endfor %}
    </div>

    <div class="large--hide">
      <div class="swiper-pagination" data-ref-pagination></div>
    </div>

    {% if product_tag_badge %}
      <div class="position-absolute position-top--0 position-right--0 position-1">
        <div style=" --max-width: 70px; --medium--max-width: 80px; --large--max-width: 90px;">
          {%
            include 'image',
            _image_url: product_tag_badge_image_url
          %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% if product.images.size > 1 %}
  <div class="hide large--show">
    <div class="product-gallery-thumbs">
      <div class="margin-top--up-1">
        <div class="slider" data-module-slider='{
          "swiper": {
            "slidesPerView": 6,
            "spaceBetween": "var(--spacing--down-2)"
          }
        }'>
          <div class="swiper-container swiper-container-thumbs" data-ref-container>
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <div class="cursor-pointer">
                    <div class="product-gallery-thumb">
                      {%
                        include 'image',
                        _object: image,
                        _size: '200x',
                        _lazy: true
                      %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
