<div class="margin-top--down-3 large--margin-top--down-1">
  <div class="flex-bar--down-2">
    <div class="flex-item-shrink">
      <div class="font-size--up-4 text-color-grey-light">
        {% include 'svg-delivery' %}
      </div>
    </div>

    <div class="flex-item">
      <div class="
        rte
        font-size--down-4 line-height--up-2
        large--font-size--down-2 large--line-height--up-4
      ">
        {{ delivery_info_copy }}
      </div>
    </div>
  </div>
</div>
