<div class="margin-bottom--down-2">
  <div class="
    font-size--down-4 line-height--up-2
    large--font-size--down-2 large--line-height--up-4
  ">
    <span data-module-product-variant-title>
      {{ current_variant.title }}
    </span>

    {{ product.title }}

    &times;

    <span data-module-product-quantity-text>
      1
    </span>
  </div>
</div>
