<div class="margin-bottom--0 large--margin-bottom--up-1">
  <h1 class="
    font-size--up-8 line-height--up-10
    large--font-size--up-12 large--line-height--up-14
    text-caps-letter-spacing font-weight-700 text-color-grey-dark
    margin-bottom--none
  ">
    {{ product.title }}
  </h1>

  {%
    include 'judgeme_widgets',
    widget_type: 'judgeme_preview_badge',
    jm_style: '',
    concierge_install: false,
    product: product
  %}
</div>
