  <div data-module-product-form='{
    "product": {{ product | json | escape }},
    "variant_id": {{ current_variant.id | json | escape }},
    "quantity": 1,
    "history_state": true
  }'>
    {% form 'product', product %}
      {% include 'product-form-id' %}

      {% unless product.has_only_default_variant %}
        <div class="margin-bottom--0">
          {% if template.suffix == 'dropdown' %}
            {% include 'product-form-options' %}
          {% else %}
            {% include 'product-form-options-radio' %}
          {% endif %}
        </div>
      {% endunless %}

      {% include 'product-form-quantity' %}

      <div class="padding-top--up-1 xlarge--padding-top--up-2">
        <div class="border-top-grey-lighter">
          <div class="padding-top--up-1 xlarge--padding-top--up-2">
            <div class="xlarge--flex--up-1">
              <div class="xlarge--flex-item margin-bottom--0 xlarge--margin-bottom--none">
                {% include 'product-form-summary' %}
                {% include 'product-price' %}

                {% if delivery_info_enable %}
                  {% include 'product-delivery-info' %}
                {% endif %}
              </div>

              <div class="xlarge--flex-item-shrink">
                {% include 'product-form-submit' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
