<div class="margin-bottom--0 xlarge--margin-bottom--up-1">
  <div style="position:relative;">
  
  <h1 class="
    font-size--up-8 line-height--up-10
    xlarge--font-size--up-12 xlarge--line-height--up-14
    text-caps-letter-spacing font-weight-700 text-color-grey-dark
    margin-bottom--none
  ">
    {{ product.title }}
  </h1>
  <div name="secomapp-fg-image-{{ product.id }}" style="display: none;">{{ "icon-freegift.png" | asset_url | img_tag: "FG icon", "sca-fg-img-collect" }}</div></div>

  {%
    include 'judgeme_widgets',
    widget_type: 'judgeme_preview_badge',
    jm_style: '',
    concierge_install: false,
    product: product
  %}
</div>
