{% if product.description != blank %}
  <div class="padding-top--up-1 xlarge--padding-top--up-2">
    <div class="border-top-grey-lighter">
      <div class="padding-top--up-1 xlarge--padding-top--up-2">
        <div
          class="
            rte
            font-size--down-2 line-height--up-6
            xlarge--font-size--inherit xlarge--line-height--up-8
          ">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
