<div data-module-product-price='{
  "money_format": {{ shop.money_format | json | escape }},
  "product_id": {{ product.id | json | escape }}
}'>
  <div data-ref-retail>
    {{ current_variant.price | money }}
  </div>

  <s style="{% unless current_variant.compare_at_price > current_variant.price %}display: none;{% endunless %}" data-ref-compare>
    {% if current_variant.compare_at_price > current_variant.price %}
      {{ current_variant.compare_at_price | money }}
    {% endif %}
  </s>
</div>
