{% assign copy = product.metafields.short_description.copy | default: false %}

{% if copy %}
  <div class="padding-bottom--up-1 large--padding-bottom--up-2">
    <div
      class="
        rte rte--product-short-description
        font-size--down-2 line-height--up-6
        large--font-size--up-2 large--line-height--up-10
      ">
      {{ copy }}
    </div>
  </div>
{% endif %}
