<div class="padding-top--up-2 large--padding-top--up-5">
  <div class="container-default">
    {% if title %}
      {% include 'featured-section-title', _title: title %}
    {% endif %}

    <div class="overflow-hidden">
      <div class="flex--0 medium--flex--up-1 large--flex--up-2 flex-wrap margin-bottom-negative--up-2">
        {% if recommendations.performed %}
          {% for product in recommendations.products limit: limit %}
            <div class="
              flex-item-auto padding-bottom--up-2 one-two medium--one-three xlarge--one-five

              {% if forloop.index > 4 %}
                hide
                medium--show
              {% endif %}

              {% if forloop.index > 5 %}
                xlarge--hide
              {% endif %}
            ">
              {% include 'product-card' %}
            </div>
          {% endfor %}
        {% else %}
          {% for handle in product_upsells_handles limit: limit %}
            {% assign product = all_products[handle] %}

            <div class="
              flex-item-auto padding-bottom--up-2 one-two medium--one-three xlarge--one-five

              {% if forloop.index > 4 %}
                hide
                medium--show
              {% endif %}

              {% if forloop.index > 5 %}
                xlarge--hide
              {% endif %}
            ">
              {% include 'product-card' %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
