{% assign initial_slide = 0 %}

{% for image in product.images %}
  {% assign image_variant_ids = image.variants | map: 'id' %}

  {% if image_variant_ids contains current_variant.id %}
    {% assign initial_slide = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="slider" data-module-slider='{
  "swiper": {
    "initialSlide": {{ initial_slide | json }}
  },

  "slide_product_variants": {{ product.images | map: 'variants' | json | escape }}
}'>
  <div class="swiper-container" data-ref-container>
    <div class="swiper-wrapper">
      {% for image in product.images %}
        <div class="swiper-slide">
          {%
            include 'image',
            _object: image,
            _size: '1000x',
            _lazy: true
          %}
        </div>
      {% endfor %}
    </div>

    {% if product.images.size > 1 %}
      <div class="xlarge--hide">
        <div class="swiper-pagination" data-ref-pagination></div>
      </div>
    {% endif %}

    {% if product_tag_badge %}
      <div class="position-absolute position-top--0 position-right--0 position-1">
        <div style=" --max-width: 70px; --medium--max-width: 80px; --xlarge--max-width: 90px;">
          {%
            include 'image',
            _image_url: product_tag_badge_image_url
          %}
        </div>
      </div>
    {% endif %}

    {% if promo_badge %}
      <div class="no-pointer">
        <div class="position-absolute position-top--0 position-left position-1">
          <div class="box-color-red">
            <div class="padding-top-bottom--down-4 padding-left-right--down-2">
              <div class="
                font-size--down-2 line-height--up-4
                font-weight-700 text-caps-letter-spacing text-color-light
              ">
                {{ promo_badge_copy }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if product.images.size > 1 %}
    <div class="hide xlarge--show">
      <div class="product-gallery-thumbs">
        <div class="margin-top--up-1">
          <div class="overflow-hidden">
            <div class="grid--down-2 margin-bottom-negative--down-2">
              {% for image in product.images %}
                <div class="grid-item one-six padding-bottom--down-2">
                  <button
                    class="product-gallery-thumb input-reset block one"
                    type="button"
                    data-ref-slide-to='{ "index": {{ forloop.index0 | json }} }'>
                    {%
                      include 'image',
                      _object: image,
                      _size: '200x'
                    %}
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
