<h1 class="font-size--h4 line-height--h4 text-transform--h4 letter-spacing--h4 margin-bottom--0">
  {{ 'search.not_performed.title' | t }}
</h1>

{% include 'search-form', _id: 'search-form-search-not-performed' %}
