{% assign products = search.results %}

{% capture product_card_grid_item_class_name_template %}
  {% include 'product-card-grid-item-class-name-template' %}
{% endcapture %}

<h1 class="font-size--h4 line-height--h4 text-transform--h4 letter-spacing--h4 margin-bottom--0">
  {{ 'search.title' | t }}
</h1>

<div class="overflow-hidden">
  <div class="grid--up-1 margin-bottom-negative--up-1">
    {% for product in products %}
      <div class="{{ product_card_grid_item_class_name_template }}">
        {% include 'product-card' %}
      </div>
    {% endfor %}
  </div>
</div>
