{% assign is_header = _is_header %}

{% assign social_networks = 'instagram, facebook, twitter, pinterest, tumblr, vimeo, youtube, linkedin, email' | split: ', ' %}

<ul class="grid-bar--up-1 margin-bottom--none">
  {% for social_network in social_networks %}
    {% assign social_network_link_setting = 'social_links_' | append: social_network %}
    {% assign social_network_link_setting = settings[social_network_link_setting] | default: false %}

    {% unless social_network_link_setting %}
      {% continue %}
    {% endunless %}

    <li class="grid-item">
      <a href="{{ social_network_link_setting }}" target="_blank">
        <div class="{% if is_header %}font-size--up-4{% endif %} {% unless is_header %}font-size--up-12{% endunless %}">
          {% assign snippet = 'svg-social-' | append: social_network %}
          {% include snippet %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
