{% assign social_networks = 'facebook, twitter, youtube, instagram, pinterest, tumblr, vimeo, linkedin, email' | split: ', ' %}

<ul class="grid-bar--down-2 margin-bottom--none">
  {% for social_network in social_networks %}
    {% assign social_network_link_setting = 'social_links_' | append: social_network %}
    {% assign social_network_link_setting = settings[social_network_link_setting] | default: false %}

    {% unless social_network_link_setting %}
      {% continue %}
    {% endunless %}

    <li class="grid-item">
      <a href="{{ social_network_link_setting }}" target="_blank">
        <div class="font-size--up-14 text-color-navy">
          {% assign snippet = 'svg-social-' | append: social_network %}
          {% include snippet %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
