{% assign title = settings.customer_activate_account_title | default: false %}

{% assign image = settings.customer_login_image | default: false %}

<div class="box-color-beige">
  <div class="flex flex-wrap medium--flex-reverse">
    {% if image %}
      <div class="flex-item-shrink one medium--one-two">
        <div
          class="position-relative"
          style=" --medium--height: 500px; --large--height: 740px;">
          {%
            include 'image',
            _object: image,
            _size: '1400x',
            _box_ratio_medium: '0',
            _class: '
              medium--position-absolute
              medium--position-top
              medium--position-left
              medium--one
              medium--height-full
              object-full
            '
          %}
        </div>
      </div>
    {% endif %}

    <div class="flex-item-shrink one medium--one-two flex-bar">
      <div class="flex-item">
        <div class="
          container-padding
          padding-top-bottom--up-3 medium--padding-top-bottom--none
        ">
          <div class="box-center" style="max-width: 450px;">
            {% if title %}
              <h1 class="
                font-size--up-8 line-height--up-10
                large--font-size--up-12 large--line-height--up-14
                text-caps-letter-spacing font-weight-700 text-color-grey-dark
                margin-bottom--up-2
              ">
                {{ title }}
              </h1>
            {% endif %}

            {% include 'customer-activate-account-form' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
