f{% assign title = settings.customer_addresses_title | default: false %}

{% assign empty_body = settings.customer_addresses_empty_body | default: false %}

<div class="page-spacing">
  <div class="container-default">
    {% include 'breadcrumbs' %}

    <div class="margin-top--up-3 large--margin-top--up-4">
      {% include 'customer-addresses-header' %}

      <div class="overflow-hidden">
        <div data-module-accordion>
          <div class="grid--up-1 margin-bottom-negative--up-3">
            <div class="grid-item padding-bottom--up-3 one large--one-four">
              {% include 'customer-addresses-items' %}
            </div>

            <div class="grid-item padding-bottom--up-3 one large--three-four">
              <div class="large--padding-left--up-3 xlarge--padding-left--up-6">
                {% include 'customer-addresses-forms' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
