{% include 'attribute-line-item-properties' %}

<div class="page-spacing">
  <div class="container-default">
    {% include 'breadcrumbs' %}

    <div class="margin-top--up-3 large--margin-top--up-4">
      {% include 'customer-order-header' %}
      {% include 'customer-order-addresses' %}
      {% include 'customer-order-info' %}
    </div>
  </div>
</div>
