{% include 'attribute-request-amp' %}

<!DOCTYPE html>
<html amp class="template-{{ template | handle }}" lang="{{ shop.locale }}">
  <head>
    {% include 'layout-amp' %}
    {% include 'layout-amp-redirect' %}
    {% include 'layout-meta' %}
    {% include 'layout-social-meta' %}
    {% include 'layout-title' %}
    {% include 'layout-favicon' %}
    {% include 'layout-schema' %}
    {% include 'layout-styles' %}

    {% comment %}
      {{ content_for_header }}
    {% endcomment %}
  </head>

  <body>
    {% include 'layout-amp-google-analytics' %}

    {% unless request_amp_redirect %}
      {% section 'utility-bar' %}
      {% section 'header' %}

      <main role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    {% endunless %}
  </body>
</html>
