<!DOCTYPE html>
<html class="template-{{ template | handle }}" lang="{{ shop.locale }}">
  <head>
    {% include 'layout-meta' %}
    {% include 'layout-social-meta' %}
    {% include 'layout-title' %}
    {% include 'layout-favicon' %}
    {% include 'layout-schema' %}
    {% include 'layout-styles' %}
    {% include 'layout-scripts-head' %}

    {{ content_for_header }}
    {% include 'judgeme_core' %}
</head>

  <body>
    {% section 'utility-bar' %}
    {% section 'header' %}

    <main role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% include 'layout-scripts' %}
  
<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
</body>
</html>
