{% assign title = section.settings.title | default: false %}

{% assign body = section.settings.body | default: false %}

<div class="page-spacing">
  <div class="container-default">
    {% include 'breadcrumbs' %}

    <div class="box-center" style="max-width: 690px;">
      <div class="rte rte--page">
        <h1>
          {{ title }}
        </h1>

        {{ body }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404 body",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body"
      }
    ]
  }
{% endschema %}
