{% schema %}
  {
    "name": "404 body",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body"
      }
    ]
  }
{% endschema %}

{% assign title = section.settings.title | default: false %}

{% assign body = section.settings.body | default: false %}

<div class="padding-top-bottom--up-2 large--padding-top-bottom--up-4">
  <div class="container-default">
    {% if title %}
      <h1 class="font-size--h4 line-height--h4 text-transform--h4 letter-spacing--h4 margin-bottom--0">
        {{ title }}
      </h1>
    {% endif %}

    {% if body %}
      <div class="rte">
        {{ body }}
      </div>
    {% endif %}
  </div>
</div>
