{% assign enable = section.settings.enable | default: false %}

{% if enable %}
  {% assign enable = false %}

  {% for article_related in blog.articles %}
    {% if article_related.handle != article.handle %}
      {% assign enable = true %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if enable %}
  <div class="margin-top--up-4 medium--margin-top--up-6">
    <div class="container-default">
      <div class="box-center" style="max-width: 1170px;">
        <div class="overflow-hidden">
          <div class="
            flex-wrap flex--0 medium--flex--up-1 large--flex--up-2
            margin-bottom-negative--up-2
            large--margin-bottom-negative--up-4
          ">
            {% assign forloop_index = 0 %}

            {% for article_related in blog.articles %}
              {% if article_related.handle == article.handle %}
                {% continue %}
              {% endif %}

              {% assign forloop_index = forloop_index | plus: 1 %}

              {% if forloop_index > 4 %}
                {% break %}
              {% endif %}

              <div class="
                flex-item-auto one-two medium--one-four
                padding-bottom--up-2 large--padding-bottom--up-4
              ">
                {% include 'article-card-recipe', article: article_related %}
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="margin-top--up-4 medium--margin-top--up-6">
          <div class="text-center">
            <a
              class="
                button-primary
                medium--font-size--0
                padding-left-right--up-2 medium--padding-left-right--up-4
              "
              href="{{ blog.url }}">
              {{ 'recipes.related.call_to_action' | t }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Article recipes related",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?"
      }
    ]
  }
{% endschema %}
