<div class="container-default">
  {% include 'breadcrumbs' %}

  <div class="box-center" style="max-width: 700px;">
    <div class="rte rte--page rte--article" data-module-rte>
      <h1 class="text-center">
        {{ article.title }}
      </h1>

      {{ article.content }}
    </div>

    {% include 'social-share' %}
  </div>

  {% if blog.template_suffix == 'careers' %}
    <div class="margin-top--up-3 large--margin-top--up-5">
      <div class="text-center">
        <a
          class="
            button-primary
            medium--font-size--0
            padding-left-right--up-2 medium--padding-left-right--up-4
          "
          href="{{ blog.url }}">
          {{ 'careers.career.back' | t }}
        </a>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Article body"
  }
{% endschema %}
