{% assign enable = section.settings.enable | default: false %}

{% assign title = section.settings.title | default: false %}

{% assign limit = section.settings.limit | default: 6 %}

{% if enable %}
  {% assign cart_upsells_handles = '' | split: '' %}

  {% for line_item in cart.items %}
    {% assign product = line_item.product %}

    {% include 'attribute-product-upsells' %}

    {% if product_upsells %}
      {% assign cart_upsells_handles = cart_upsells_handles | concat: product_upsells_handles | uniq %}
    {% endif %}
  {% endfor %}

  {% if cart_upsells_handles != empty %}
    <div class="padding-top--up-2 large--padding-top--up-5">
      <div class="container-default">
        {% if title %}
          {% include 'featured-section-title', _title: title %}
        {% endif %}

        <div class="overflow-hidden">
          <div class="flex--0 medium--flex--up-1 large--flex--up-2 flex-wrap margin-bottom-negative--up-2">
            {% for handle in cart_upsells_handles limit: limit %}
              {% assign product = all_products[handle] %}

              <div class="
                flex-item-auto padding-bottom--up-2 one-two medium--one-three xlarge--one-five

                {% if forloop.index > 4 %}
                  hide
                  medium--show
                {% endif %}

                {% if forloop.index > 5 %}
                  xlarge--hide
                {% endif %}
              ">
                {% include 'product-card' %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Cart upsells",
    "settings": [
      {
        "type": "paragraph",
        "content": "You can manually associate upsells to products via Product -> More actions -> Custom fields -> Product upsells."
      },
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 6
      }
    ]
  }
{% endschema %}
