{% schema %}
  {
    "name": "Cart upsells",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 4
      }
    ]
  }
{% endschema %}

{% assign enable = section.settings.enable %}

{% assign collection = section.settings.collection %}
{% assign collection = collections[collection] | default: false %}

{% assign limit = section.settings.limit | default: 4 %}

{% include 'attribute-request-amp' %}

{% if enable %}
  {% capture product_card_grid_item_class_name_template %}
    {% include 'product-card-grid-item-class-name-template' %}
  {% endcapture %}

  <div class="padding-bottom--up-2 large--padding-bottom--up-4">
    <div class="container-default">
      <h2 class="font-size--h5 line-height--h5 text-transform--h5 letter-spacing--h5 text-center margin-bottom--0">
        {{ 'cart.upsells_title' | t }}
      </h2>

      <div class="overflow-hidden">
        <div class="grid--up-1 margin-bottom-negative--up-1">
          {% for product in collection.products limit: limit %}
            <div class="{{ product_card_grid_item_class_name_template }}">
              {% include 'product-card' _amp: request_amp %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
