{% schema %}
  {
    "name": "Cart body"
  }
{% endschema %}

<div class="padding-top-bottom--up-2 large--padding-top-bottom--up-4">
  <div class="container-default">
    <h1 class="margin-bottom--0">
      {{ 'cart.title' | t }}
    </h1>

    {% if cart.items != empty %}
      {% include 'cart-form' %}
    {% else %}
      {% include 'cart-empty' %}
    {% endif %}
  </div>
</div>
