{% schema %}
  {
    "name": "Cart body"
  }
{% endschema %}

<div class="container-default">
  <h1 class="
    font-size--up-8 line-height--up-10
    large--font-size--up-12 large--line-height--up-14
    text-caps-letter-spacing font-weight-700 text-color-grey-dark
    text-center
    margin-bottom--up-2
    large--margin-bottom--up-4
  ">
    {{ 'cart.title' | t }}
  </h1>

  {% if cart.items != empty %}
    {% include 'cart-form' %}
  {% else %}
    {% include 'cart-empty' %}
  {% endif %}
</div>
