{% schema %}
  {
    "name": "Collection navigation",
    "settings": [
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "checkbox",
        "id": "menu_enable",
        "label": "Enable?"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Sort"
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable?"
      },
      {
        "type": "header",
        "content": "Sort - Manual"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_1",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_1",
        "label": "Title",
        "default": "Featured"
      },
      {
        "type": "header",
        "content": "Sort - Best selling"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_2",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_2",
        "label": "Title",
        "default": "Top Selling"
      },
      {
        "type": "header",
        "content": "Sort - Alphabetically, A-Z"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_3",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_3",
        "label": "TItle",
        "default": "Alphabetically, A-Z"
      },
      {
        "type": "header",
        "content": "Sort - Alphabetically, Z-A"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_4",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_4",
        "label": "Title",
        "default": "Alphabetically, Z-A"
      },
      {
        "type": "header",
        "content": "Sort - Price, low to high"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_5",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_5",
        "label": "Title",
        "default": "Price, low to high"
      },
      {
        "type": "header",
        "content": "Sort - Price, high to low"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_6",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_6",
        "label": "Title",
        "default": "Price, high to low"
      },
      {
        "type": "header",
        "content": "Sort - Date, new to old"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_7",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_7",
        "label": "Title",
        "default": "Date, new to old"
      },
      {
        "type": "header",
        "content": "Sort - Date, old to new"
      },
      {
        "type": "checkbox",
        "id": "sort_enabled_8",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "sort_title_8",
        "label": "Title",
        "default": "Date, old to new"
      }
    ]
  }
{% endschema %}

{% assign menu_enable = section.settings.menu_enable | default: false %}

{% assign menu = section.settings.menu %}
{% assign menu = menus[menu] | default: false %}

{% assign sort_enable = section.settings.sort_enable | default: false %}

{% if menu_enable or sort_enable %}
  <div class="padding-top--up-2 large--padding-top--up-4">
    <div class="container-default">
      <div class="overflow-hidden">
        <div class="large--flex-bar--up-1 large--flex-space-between margin-bottom-negative--up-1">
          {% if menu_enable %}
            <div class="large--flex-item-shrink padding-bottom--up-1">
              {% include 'collection-menu' %}
            </div>
          {% endif %}

          {% if sort_enable %}
            <div class="large--flex-item-shrink padding-bottom--up-1">
              {% include 'collection-sort' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
