{% assign array_title = page.metafields.faq.title | default: false %}

{% assign array_copy = page.metafields.faq.copy | default: false %}

<div class="page-spacing">
  <div class="container-default">
    {% include 'breadcrumbs' %}

    <div class="box-center" style="max-width: 910px;">
      <div class="rte rte--page text-center">
        <h1>
          {{ page.title }}
        </h1>

        {{ page.content }}
      </div>
    </div>

    {% if array_title and array_copy %}
      {%
        include 'faq-items',
        _array_title: array_title,
        _array_copy: array_copy
      %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "FAQ body",
    "settings": [
      {
        "type": "paragraph",
        "content": "Content is managed via Page -> More actions -> Custom Fields -> FAQ."
      }
    ]
  }
{% endschema %}
