{% assign newsletter_enable = section.settings.newsletter_enable | default: false %}

{% assign newsletter_title = section.settings.newsletter_title | default: false %}

{% assign newsletter_copy = section.settings.newsletter_copy | default: false %}

{% assign social_links_enable = section.settings.social_links_enable | default: false %}

{% assign payment_icons_enable = section.settings.payment_icons_enable | default: false %}

{% assign small_copy_enable = section.settings.small_copy_enable | default: false %}

{% assign small_copy = section.settings.small_copy | default: false %}

{% assign small_copy_menu = section.settings.small_copy_menu %}
{% assign small_copy_menu = menus[small_copy_menu] | default: false %}

{% assign blocks = section.blocks | default: false %}

{% assign blocks_column = blocks | where: 'type', 'column' | default: false %}

<footer class="footer" role="contentinfo">
  <div class="container-default">
    <div class="medium--border-top-grey-lightest">
      <div class="padding-bottom--up-2 medium--padding-top--up-2 large--padding-top-bottom--up-5">
        <div class="xlarge--flex--up-1">
          {% if blocks_column %}
            <div class="xlarge--flex-item">
              {% include 'footer-columns' %}
            </div>
          {% endif %}

          {% if newsletter_enable or social_links_enable %}
            <div class="xlarge--flex-item-auto">
              <div style=" --xlarge--max-width: 410px;">
                <div class="medium--flex-bar--up-1 medium--flex-wrap">
                  <div class="medium--flex-item large--flex-item-auto xlarge--one">
                    {% if newsletter_title %}
                      {% include 'footer-newsletter' %}
                    {% endif %}
                  </div>

                  <div class="medium--flex-item-auto xlarge--one">
                    {% if social_links_enable %}
                      {% include 'footer-social-links' %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        
        <div class="footerBtm">
          	<div class="currency">
              <h3 class="text-caps-letter-spacing text-color-grey-dark">Select Currency</h3>
              <div class="doubly-wrapper"></div>
          	</div>       	

            {% if payment_icons_enable %}
              {% include 'footer-payment-icons' %}
            {% endif %}
        </div>
        
        

        {% if small_copy_enable %}
          {% include 'footer-small-copy' %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Columns"
      },
      {
        "type": "paragraph",
        "content": "Managed via the 'Content' section."
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Enable?"
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "newsletter_copy",
        "label": "Copy"
      },
      {
        "type": "header",
        "content": "Social links"
      },
      {
        "type": "checkbox",
        "id": "social_links_enable",
        "label": "Enable?",
        "info": "Managed via Theme -> Customise -> Theme settings -> Social."
      },
      {
        "type": "header",
        "content": "Payment icons"
      },
      {
        "type": "checkbox",
        "id": "payment_icons_enable",
        "label": "Enable?"
      },
      {
        "type": "header",
        "content": "Small copy"
      },
      {
        "type": "checkbox",
        "id": "small_copy_enable",
        "label": "Enable?"
      },
      {
        "type": "richtext",
        "id": "small_copy",
        "label": "Copy"
      },
      {
        "type": "link_list",
        "id": "small_copy_menu",
        "label": "Menu"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          },
          {
            "type": "richtext",
            "id": "copy",
            "label": "Copy"
          }
        ]
      }
    ]
  }
{% endschema %}
