{% assign menu = section.settings.menu %}
{% assign menu = menus[menu] | default: false %}

{% assign menu_secondary = section.settings.menu_secondary %}
{% assign menu_secondary = menus[menu_secondary] | default: false %}

{% assign logo_image = section.settings.logo_image | default: false %}
{% assign logo_image_url = logo_image | img_url: '600x' %}

{% include 'attribute-image-box-ratio', image: logo_image %}

{% assign logo_image_box_ratio = image_box_ratio %}

<header class="header" role="banner">
  <div class="container-default">
    <div class="position-relative">
      <div class="padding-top-bottom--0 large--padding-top-bottom--up-1">
        {% include 'header-actions-primary' %}
        {% include 'header-logo' %}
        {% include 'header-actions-secondary' %}
      </div>
    </div>
  </div>

  {% if menu %}
    {% include 'header-menu' %}
  {% endif %}
</header>

{% include 'mobile-menu' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo"
      },
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Menu (secondary)"
      },
      {
        "type": "link_list",
        "id": "menu_secondary",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
