{% assign spacing_top_enable = section.settings.spacing_top_enable | default: false %}

{% assign spacing_bottom_enable = section.settings.spacing_bottom_enable | default: false %}

<section
  class="
    homepage-section
    {% if spacing_top_enable %}homepage-section--spacing-top{% endif %}
    {% if spacing_bottom_enable %}homepage-section--spacing-bottom{% endif %}
  ">
  {% include 'value-propositions' %}
</section>

{% schema %}
  {
    "name": "Value propositions",
    "presets": [
      {
        "category": "Homepage",
        "name": "Value propositions"
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "spacing_top_enable",
        "label": "Spacing top enable?"
      },
      {
        "type": "checkbox",
        "id": "spacing_bottom_enable",
        "label": "Spacing bottom enable?"
      },
      {
        "type": "paragraph",
        "content": "Content is managed via Theme settings -> Value propositions."
      }
    ]
  }
{% endschema %}
