{% assign spacing_top_enable = section.settings.spacing_top_enable | default: false %}

{% assign spacing_bottom_enable = section.settings.spacing_bottom_enable | default: false %}

{% assign title = section.settings.title | default: false %}

<section
  class="
    homepage-section
    {% if spacing_top_enable %}homepage-section--spacing-top{% endif %}
    {% if spacing_bottom_enable %}homepage-section--spacing-bottom{% endif %}
  ">
  {%
    include 'instagram-feed',
    _title: title
  %}
</section>

{% schema %}
  {
    "name": "Instagram",
    "presets": [
      {
        "category": "Homepage",
        "name": "Instagram"
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "spacing_top_enable",
        "label": "Spacing top enable?"
      },
      {
        "type": "checkbox",
        "id": "spacing_bottom_enable",
        "label": "Spacing bottom enable?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}
