<div class="page-spacing">
  <div class="container-default">
    {% include 'breadcrumbs' %}

    <div class="box-center" style="max-width: 690px;">
      <div class="rte rte--page">
        <h1>
          {{ page.title }}
        </h1>

        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page body"
  }
{% endschema %}
