{% schema %}
  {
    "name": "Page body",
    "settings": []
  }
{% endschema %}

{% assign body = section.settings.body | default: false %}

<div class="padding-top-bottom--up-2 large--padding-top-bottom--up-4">
  <div class="container-default">
    <h1 class="margin-bottom--0">
      {{ page.title }}
    </h1>

    {% if page.content %}
      <div class="rte">
        {{ page.content }}
      </div>
    {% endif %}
  </div>
</div>
