{% assign promo_badge = product.metafields.promo_badge.copy %}

{% assign promo_badge_copy = promo_badge %}

{% assign delivery_info_enable = section.settings.delivery_info_enable | default: false %}

{% assign delivery_info_copy = section.settings.delivery_info_copy | default: false %}

{% assign dynamic_checkout_buttons_enable = section.settings.dynamic_checkout_buttons_enable | default: false %}

{% if product.metafields.delivery_info.disable %}
  {% assign delivery_info_enable = false %}
{% endif %}

{% if product.metafields.delivery_info.copy %}
  {% assign delivery_info_copy = product.metafields.delivery_info.copy %}
{% endif %}

{% assign current_collection = collection %}
{% assign current_product = product %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% include 'attribute-product-tag-badge' %}

<div class="container-default">
  {% include 'breadcrumbs' %}

  <div class="box-center" style=" --max-width: 490px; --large--max-width: none;">
    <div class="overflow-hidden">
      <div class="grid--up-3 xlarge--grid--up-5 margin-bottom-negative--up-1">
        <div class="grid-item one large--one-two padding-bottom--up-1">
          {% include 'product-gallery' %}
        </div>

        <div class="grid-item one large--one-two padding-bottom--up-1">
          {% include 'product-info' %}
          {% include 'product-short-description' %}
          {% include 'product-form' %}
          {% include 'product-description' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product body",
    "settings": [
      {
        "type": "header",
        "content": "Card"
      },
      {
        "type": "paragraph",
        "content": "These settings control aspects of the product for when they're displayed in 'Card' form, e.g. on collection templates, featured products sections etc. Managed via Product -> More actions -> Custom fields -> Card."
      },
      {
        "type": "header",
        "content": "Tag badge"
      },
      {
        "type": "paragraph",
        "content": "Managed via [Apps -> Accentuate Custom Fields -> Shop fields -> Edit values](/admin/apps/accentuate/app/edit?scope=shop)."
      },
      {
        "type": "header",
        "content": "Promo badge"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> More actions -> Custom fields -> Promo badge."
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> Media. Suggested size: 2000x2000px."
      },
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> Title."
      },
      {
        "type": "header",
        "content": "Short description"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> More actions -> Custom fields -> Short description."
      },
      {
        "type": "header",
        "content": "Options/Variants"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> Variants. These options display as buttons by default, you can optionally choose to display them as dropdowns per-product by changing the product template to 'product.dropdown'."
      },
      {
        "type": "header",
        "content": "Delivery info"
      },
      {
        "type": "checkbox",
        "id": "delivery_info_enable",
        "label": "Enable?"
      },
      {
        "type": "richtext",
        "id": "delivery_info_copy",
        "label": "Copy"
      },
     {
        "type": "paragraph",
        "content": "This can be optionally overridden per-product via Product -> More actions -> Custom fields -> Delivery info."
      },
      {
        "type": "header",
        "content": "Dynamic checkout buttons"
      },
      {
        "type": "checkbox",
        "id": "dynamic_checkout_buttons_enable",
        "label": "Enable?",
        "info": "Customers can use the dynamic checkout button to quickly buy the product they're viewing. They skip the cart and complete their payment with the checkout method displayed on the button. The button dynamically changes to reflect the customer's preferred accelerated checkout method. [More info here](https://help.shopify.com/en/manual/online-store/os/dynamic-checkout)."
      },
      {
        "type": "header",
        "content": "Description"
      },
      {
        "type": "paragraph",
        "content": "Managed via Product -> Description."
      }
    ]
  }
{% endschema %}
