{% schema %}
  {
    "name": "Product upsells",
    "settings": [
      {
        "type": "paragraph",
        "content": "Products are recommended based on an algorithm that predicts the most relevant products based on the product a customer is interacting with. You can manually associate upsells to products by adding tags to the product via Product -> More actions -> Custom fields -> Product upsells."
      },
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Limit",
        "default": 6
      }
    ]
  }
{% endschema %}

{% assign enable = section.settings.enable | default: false %}

{% assign title = section.settings.title | default: false %}

{% assign limit = section.settings.limit | default: 6 %}

{% if product.metafields.product_upsells.disable %}
  {% assign enable = false %}
{% endif %}

{% include 'attribute-product-upsells' %}

{% if enable %}
  {% if product_upsells %}
    {% include 'product-upsells-body' %}
  {% else %}
    {% if template.name == 'product' %}
      <div data-module-product-upsells='{
        "product_id": {{ product.id | json | escape }},
        "product_title": {{ product.title | json | escape }},
        "limit": {{ limit | json | escape }}
      }'></div>
    {% else %}
      {% if recommendations.products != empty %}
        {% include 'product-upsells-body' %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
