{% assign results_limit = section.settings.results_limit | default: false %}

{% assign empty_body = section.settings.empty_body | default: false %}

{% paginate search.results by results_limit:10 %}
  <div class="page-spacing">
    <div class="container-default">
      {% include 'breadcrumbs' %}

      <div class="padding-top--up-2">
        {% include 'search-header' %}
        {% include 'search-toolbar' %}

        {% if search.performed %}
          {% if search.results != empty %}
            {% include 'search-results' %}

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
          {% else %}
            {% include 'search-empty' %}
          {% endif %}
        {% else %}
          {% include 'search-empty' %}
        {% endif %}
      </div>
    </div>
  </div>
{% endpaginate %}

{% schema %}
  {
    "name": "Search body",
    "settings": [
      {
        "type": "header",
        "content": "Results"
      },
      {
        "type": "number",
        "id": "results_limit",
        "label": "Limit",
        "default": 16
      },
      {
        "type": "header",
        "content": "Empty"
      },
      {
        "type": "richtext",
        "id": "empty_body",
        "label": "Empty body"
      }
    ]
  }
{% endschema %}
