{% assign enable = section.settings.enable | default: false %}

{% assign copy_1 = section.settings.copy_1 | default: false %}

{% assign copy_2 = section.settings.copy_2 | default: false %}

{% if enable %}
  <div class="box-color-navy text-color-light">
    <div class="container-default">
      <div class="padding-top-bottom--down-2">
        <div class="flex-bar--up-1 text-center {% if copy_2 %}large--text-left{% endif %}">
          {% if copy_1 %}
            <div class="flex-item">
              <div class="grid-bar--down-1">
                <div class="grid-item">
                  <div class="font-size--up-4 text-color-grey-light">
                    {% include 'svg-delivery' %}
                  </div>
                </div>

                <div class="grid-item">
                  <div class="font-size--down-2 line-height--down-4">
                    {{ copy_1 }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if copy_2 %}
            <div class="flex-item-auto hide large--show">
              <div class="font-size--down-2 line-height--down-4">
                {{ copy_2 }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Utility bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?"
      },
      {
        "type": "text",
        "id": "copy_1",
        "label": "Copy #1"
      },
      {
        "type": "text",
        "id": "copy_2",
        "label": "Copy #2"
      }
    ]
  }
{% endschema %}
