<script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
<div id="sca_fg_cart">
<div class="page-spacing">
  <div class="padding-top--up-2 large--padding-top--up-5">
    {% section 'cart-body' %}
    {% section 'cart-upsells' %} 
  </div>
</div>
</div>